@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: 249 115 22; /* theme('colors.orange.600') */
  --text-1: 30 41 59; /* theme('colors.slate.800') */
  --text-2: 51 65 86; /* theme('colors.slate.700') */
  --text-3: 71 85 105; /* theme('colors.slate.600') */
  --text-4: 100 116 139; /* theme('colors.slate.500') */
  --surface: 255 255 255; /* theme('colors.white') */
  --surface-1: 248 250 252; /* theme('colors.slate.50') */
  --surface-2: 241 245 249; /* theme('colors.slate.100') */
  --surface-3: 226 232 240; /* theme('colors.slate.200') */
  --surface-4: 203 213 225; /* theme('colors.slate.300') */
  --border: #e5e7eb;

  --font-remote: var(--font-remote-sans);

  .shiki,
  .shiki span {
    font-style: normal !important; /* 代码块渲染禁止斜体 */
  }
}

:root.dark {
  --brand: 226 232 240; /* theme('colors.slate.200') */
  --text-1: 248 250 252; /* theme('colors.slate.50') */
  --text-2: 241 245 249; /* theme('colors.slate.100') */
  --text-3: 226 232 240; /* theme('colors.slate.200') */
  --text-4: 203 213 225; /* theme('colors.slate.300') */
  --surface: 0 2 18; /* #000212 */
  --surface-1: 30 41 59; /* theme('colors.slate.800') */
  --surface-2: 51 65 85; /* theme('colors.slate.700') */
  --surface-3: 71 85 105; /* theme('colors.slate.600') */
  --surface-4: 100 116 139; /* theme('colors.slate.500') */

  --border: 51 65 85; /* theme('colors.slate.700') */
}

/* Markdown */

.prose {
  > div > pre,
  > p:has(img) {
    @apply -mx-4 md:-mx-8;
  }
}

/* Tailwind utilities */
@layer utilities {
  @keyframes hello {
    50% {
      transform: translateY(-25%) rotateZ(15deg);
    }
  }

  @keyframes breath {
    to {
      scale: 0.8;
    }
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  .animation-hello {
    animation: hello 3s infinite ease;
  }

  .animation-fade-in {
    animation: fade-in 0.5s ease forwards;
  }

  .animation-fade-out {
    animation: fade-out 0.5s ease forwards;
  }

  .animation-breath {
    animation: breath ease 2s alternate infinite;
  }
}

/* 表格行 */
table tr {
  text-align: center; /* 水平居中 */
  vertical-align: middle; /* 垂直居中 */
}

/* 表格单元格 */
table td {
  text-align: center; /* 水平居中 */
  vertical-align: middle; /* 垂直居中 */
}

/* 加粗字体的颜色 */
strong {
  color: rgb(59, 141, 254) !important;
}

/* 表格第一行加粗字体颜色恢复默认 */
.prose :where(thead th strong):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: unset !important;
}

/* 表格边框 */
th,
td {
  border: 1px solid gray;
}